<div class="row">
  <div class="col-md col-lg">
    <h2>{{place.name}}</h2>
    <!-- <p>{{place.price_level}}</p> -->
    <!-- <p>{{place.rating}}</p> -->
    <!-- <p>{{place.types}}</p> -->
    <!-- <p>{{place.opening_hours}}</p> -->
    <!-- <p>{{place.address_components}}</p> -->
    <!-- <p>{{place.international_phone_number}}</p> -->
    <!-- <p>{{place.website}}</p> -->
    <!-- <p>{{place.photos}}</p> -->
    <!-- <p>{{place.weekday_text}}</p> -->
    <!-- <p>{{place.reviews}}</p> -->
  </div>
</div>
