<form>
  <div class="input-group">
    <input id="autocomplete" type="text" class="form-control" placeholder="Search for a place..."
            name="searchTerm"
            [(ngModel)]="searchTerm"/>
    <div class="input-group-btn">
      <button type="submit" class="btn btn-primary" (click)="searchPlace()">Search</button>
    </div>
  </div>
</form> 

<div *ngIf="searchResult"> 
  <div class="list-group"> 
  <div *ngFor="let res of searchResult; let i = index" [attr.data-index]="i" >
      <!-- <div class="well rounded-left rounded-right" (click)="showDetails(i)">
        <h5>{{i+1}}. {{res.name}}</h5>
        <p><small>Rating: {{res.rating}} <strong>Price: {{res.price_level}}</strong></small></p>
        <p>{{res.vicinity}}</p>
      </div> -->

        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start mt-1"
           (click)="showDetails(i)">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{res.name}}</h5>
            <small>R: {{res.rating}} Price: {{res.price_level}}</small>
          </div>
          <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
          <small>{{res.types}}</small>
        </a>
  </div>
  </div>
</div>