<div *ngIf="isAdded" class="alert alert-success alert-dismissible fade show" role="alert">
  <button (click)="isAdded = !isAdded" type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button> 
  Place has been added to your list.
</div>

<form> 
  <div class="input-group">
    <input id="autocomplete" type="text" class="form-control" placeholder="Search for a place..."
            name="searchTerm" [(ngModel)]="searchTerm"/>
    <span class="input-group-btn">
      <button type="submit" class="btn btn-primary" (click)="searchPlace()">Search</button>
    </span>
  </div>
</form>  

<!-- Guard against a null result -->
<div *ngIf="searchResult">   
  <div class="list-group"> 
    <div class="mb-2" *ngFor="let res of searchResult; let i = index" [attr.data-index]="i">
      <a routerLink="/{{res.place_id}}" class="list-group-item list-group-item-action px-1 py-1 mt-2" (click)="showDetails(i)">
        <div class="media">
          <img class="d-flex align-self-center img-fluid img-thumbnail" src="{{res.photos[0].getUrl({'maxWidth': 60, 'maxHeight': 60})}}" alt="{{res.icon}}">
          <div class="media-body px-2">
            <div class="media-body d-flex justify-content-between pb-2">
              <small class=""><i class="fa fa-star"></i></small>
              <small class=""><i class="fa fa-usd"></i></small>
            </div>
            <div class="media-body">
              <h6>{{i+1}}. {{res.name}}</h6>
              <small>{{res.vicinity}}</small>
            </div>
          </div>
        </div>
      </a>
      <div class="btn-group" role="group" aria-label="place_options">
        <button type="button" class="btn btn-outline-secondary btn-sm" (click)="addToList(i)">Add to List</button>
        <!-- <button type="button" class="btn btn-outline-secondary btn-sm">Add to Favorites</button> -->
        <!-- <button type="button" class="btn btn-outline-secondary btn-sm">Don't Show Again</button> -->
      </div>
    </div>
  </div>
</div>   