/* You can add global styles to this file, and also import other style files */
html, 
body {
  font-family: 'Open-sans', sans-serif; 
  /* line-height: 1.5em; */
  letter-spacing: 0.3px;
  margin: 0px; 
  padding: 10px 0px 0px 0px; 
}